<ion-header [translucent]="false">
  <ion-toolbar>
    <section class="filter-container">
      <ion-input 
        [placeholder]="literals.filterPlaceholder" 
        [(ngModel)]="filter" 
        (ionChange)="applyFilter()" 
        [debounce]="debounceFilterTime" 
        (keyup)="startDebounceFilterProgress($event)"></ion-input>
      <ion-badge color="danger">{{ numOfElements }}</ion-badge>
    </section>
  </ion-toolbar>
  <ion-progress-bar *ngIf="debounceFilterProgress" [value]="debounceFilterProgress"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-virtual-scroll *ngIf="listOfElements"
      [items]="listOfElements" 
      approxItemHeight="80px"
      approxHeaderHeight="82px"
      >

      <ion-item *virtualItem="let element" lines="full">
        <ion-thumbnail slot="start">
          <ion-img [src]="element.photo"></ion-img>
        </ion-thumbnail>
        <p class="item-text">{{element.text}}</p>
      </ion-item>

    </ion-virtual-scroll>

  </div>
</ion-content>
