ion-header {

    box-shadow: 0px 1px 5px 0px rgba(130,130,130,1);
    
    ion-toolbar {

        .filter-container {

            display: flex;
            align-items: center;

            font-size: 10pt;
            padding: 0 10px 0 10px;
        }
    }
}

#container {
    ion-item {

        ion-thumbnail {

            margin: 10px 17px 10px 0;

            ion-img {
                border-radius: 100px;
            }
        }
        .item-text {
            font-size: 10pt;
        }
    }
}